@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {


  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;

}
#fondo{

  width: 100%;
  position: fixed;
  z-index: -2;
  
}

.logo{
  position: absolute;
  left: 4%;
  background-color: white;
  padding:8px;
  min-width: 60px;
  min-height: 45px;
  border-radius: 200px 200px 200px 200px;
  display: flex;
  justify-content: center;
}
.logo img{
  width: 50px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
}

span {
  font-size: 20px;
  font-weight: bold;
}

.result-container{
  margin-top: 2rem;
  border: 2px solid rgb(83, 170, 198);
  color: black;
  border-radius: 5px;
  background-color: white;
  margin-inline: auto;
  padding: 20px 10px;
  width: max-content;
  display: none;
  transition: all 0.5s ease;
}

section {

  margin-top: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;


}

h1 {
  font-family: 'Rubik', sans-serif;
  -webkit-text-stroke: 0.8px rgb(0, 0, 0);
  font-size: 35px;
}
a{
  font-family: 'Rubik', sans-serif;
  -webkit-text-stroke: 0.8px rgb(0, 0, 0);
}

#calculadora {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100px;
  width: 100%;
  color: white;
  background-color: rgb(83, 170, 198);
 
}


section .contenidoCalc {
  margin-top: 10%;
  line-height: 200%;


}

.contenidoCalc input {
  margin-left: 10px;
    width: 30px;
    
    justify-content: center;
    align-items: center;

    
      margin-top: 15px;
      width: 80px;
      padding: 6px;
      text-align: center;
      font-size: 15px;
      border-width: 0px;
      border-color: #CCCCCC;
      background-color: #FFFFFF;
      color: #000000;
      border-style: solid;
      border-radius: 15px;
      box-shadow: 0px 0px 11px rgba(66,66,66,.37);
  
}

.contenidoCalc #Funcion1{

  margin-top: 15px;
      width: 150px;
      padding: 6px;
      text-align: center;
      margin-left: 6px;
      font-size: 15px;
      border-width: 0px;
      border-color: #CCCCCC;
      background-color: #FFFFFF;
      
      border-style: solid;
      border-radius: 15px;
      box-shadow: 0px 0px 11px rgba(66,66,66,.37);

}



.main-container-calculator-title h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
  height: 100px;
  color: white;
  background-color: rgb(83, 170, 198);
}



.calculo {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid rgb(83, 170, 198);;
  color: rgb(83, 170, 198);;
  top: 30px;
}
.calculo:hover {
  color: #fff;
}
.calculo:hover:after {
  width: 100%;
}
.calculo:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: rgb(83, 170, 198);;
}





.main-container {
  display: flex;
  text-align: center;


}

.navbar-caso3 {
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(83, 170, 198);
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
}

.navbar-caso3 ul {
  display: flex;
  width: 600px;
}

.navbar-caso3 li {
  list-style: none;
  margin-left: 80px;
}

.navbar-caso3 a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 30px white;
}

a {
  transition: all 0.5s;
}

a:hover {
  color: white;
  font-size: 40px;
}

.main-container-content {
  margin: 0px auto;
  margin-top: 200px;
  width: 900px;
  height: 2100px;
  box-shadow: 0px -8px 35px -4px rgba(0, 0, 0, 0.75);
  border-radius: 25px 25px 0px 0px;
  background-color: rgba(255, 255, 255, 0.671) !important;
}

.main-container-content-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-weight: normal;
  height: 100px;
  color: white;
  background-color: rgb(83, 170, 198);
  border-radius: 25px 25px 0px 0px;


}

.main-container-content-title {

  height: 100px;
  width: 100%;
  justify-content: center;

}

.main-container-content-definition {

  height: 980px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.main-container-content-definition p {
  font-size: 20px;
}

.main-container-content-definition-Img {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.main-container-content-definition ul li {
  margin: 50px;
  font-size: 20px;
}




/* #seccion .nuestros{
    justify-content: center center;
}

:root {
 
    --ripple: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nuestros span {
    position: absolute;
    box-shadow: 0 0 4px var(--ripple),
                inset 0 0 4px var(--ripple);
    animation: ripple 4s linear infinite;
    animation-delay: 5s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.nuestros .pato1 {
    position: absolute;
    box-shadow: 0 0 4px var(--ripple),
                inset 0 0 4px var(--ripple);
    animation: ripple 3s linear infinite;
    animation-delay: 5s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.nuestros .pato2 {
    position: absolute;
    box-shadow: 0 0 4px var(--ripple),
                inset 0 0 4px var(--ripple);
    animation: ripple 2.5s linear infinite;
    animation-delay: 5s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.nuestros .pato3 {
    position: absolute;
    box-shadow: 0 0 4px var(--ripple),
                inset 0 0 4px var(--ripple);
    animation: ripple 2s linear infinite;
    animation-delay: 5s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
    }
    90%{
        width: 350px;
        height: 350px;
    }
    100% {
        opacity: 0;
    }
} */






.onda {
  position: absolute;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  opacity: 0.5;
  animation: onda 3s linear infinite backwards;
}

.onda:nth-child(2) {
  animation-delay: 0.2s;
}

.onda:nth-child(3) {
  animation-delay: 0.4s;
}

.onda:nth-child(4) {
  animation-delay: 0.6s;
}

#sirena{
  position: relative;
  left: 103px;
  margin-top: 5px;
}

.persona1 #persona{
  position: relative;
  left: 250px;
  margin-top: 130px;
  height: 60px;

}

.persona2 #persona{
  position: relative;
  
  right: 50px;
  top: -63px;
  height: 60px;

}

@keyframes onda {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* nav bar para cuando  baja */
nav.abajo{
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(83, 169, 198, 0.373);
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.75);
}
nav.abajo a{
  color: rgb(83, 170, 198);

}
.navbar-caso3 ul{
  display: flex;
  width: 600px;
}
.navbar-caso3 ul li{
  list-style: none;
  margin-left: 80px;
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}

.navbar-caso3 ul li:hover{
  transform: scale3d(1.5, 1.5, 0.3);
  -webkit-transform: scale3d(1.5, 1.5, 0.3);
  -moz-transform: scale3d(1.5, 1.5, 0.3);
}
            
.navbar-caso3 a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 30px white;
} 

/* Give me a style for a select */
select {
  padding: 8px 10px;
  border: 0;
  border-radius: 4px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 11px rgba(66,66,66,.37);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  font-size: 15px;
}

.select-input {
  margin-left: 5px;
}

.main-container-content-example{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin: 20px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: inset 0px 0px 13px 0px rgba(0,0,0,0.75);
}
#emisor{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 50px;
  width: 855px;
}
#emisor #carro{
  height: 150px;
  z-index: 1;
}
.movimiento{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 800px;

}
.carro_onda{
  position: absolute;
  left: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 265px;
  animation: carro_onda 8s linear infinite;

}

@keyframes carro_onda {
  0% {
    left: 0%;
  }
  100% {
    left:66%;
}
}


.movimiento .carro_onda #carro{
  position: absolute;
  left: 0;
}


.persona1{
  display: none;
  position: absolute;
  margin-right: 500px;
  height: 70px;
  margin-bottom: 60px;
}
.persona1-show{
  display: block;
  position: absolute;
  margin-right: 500px;
  height: 70px;
  margin-bottom: 60px;
}
.persona2{
  display: none;
  position: absolute;
  margin-left: 500px;
  height: 70px;
  margin-bottom: 60px;
}
.persona2-show{
  display: block;
  position: absolute;
  margin-left: 500px;
  height: 70px;
  margin-bottom: 60px;
}
.carretera{
  width: 500px;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.carretera img{
  height: 250px;
}

#carror{
  height: 80px;
}
.carro_receptor{
  position: absolute;
  
 
  margin-left: 45px;
  margin-top: -20px;
  left: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 265px;

  

  

}