body{
    position: absolute;
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
	padding: 0;
}
span{
    font-size: 20px;
    font-weight: bold;
}
.main-container{
    display: flex;
    text-align: center;

}
.navbar-caso3{
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #100538;
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75);
}
.navbar-caso3 ul{
    display: flex;
    width: 600px;
}
.navbar-caso3 ul li{
    list-style: none;
    margin-left: 80px;
}
.navbar-caso3 a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    text-shadow: 0 0 30px white;
} 
a { transition: all 0.5s;}
a:hover { color:white; font-size:40px;  }

.main-container-content{
    margin: 0px auto;
    margin-top: 200px;
    width: 900px;
    height: 2000px;
    box-shadow: 0px -8px 35px -4px rgba(0,0,0,0.75);
    border-radius: 25px 25px 0px 0px;
}
.main-container-content-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-weight: normal;
    height: 100px;
    color: white;
    background-color: #100538;
    border-radius: 25px 25px 0px 0px;
    text-shadow: 0 0 30px white;

}
.main-container-content-title{

    height: 100px;
    width: 100%;
    justify-content: center;

}
.main-container-content-definition{
    border: 2px solid;
    height: 1050px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}
.main-container-content-definition p{
    font-size: 20px;
}

.main-container-content-definition-Img{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.main-container-content-definition ul li{
    margin: 50px;
    font-size: 20px ;
}
