body{
    
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 100vh;
    
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
              
}

#seccion .nuestros{
    justify-content: center center;
}

:root {
 
    --ripple: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nuestros span {
    position: absolute;
    box-shadow: 0 0 4px var(--ripple),
                inset 0 0 4px var(--ripple);
    animation: ripple 4s linear infinite;
    animation-delay: 5s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.nuestros .pato1 {
    position: absolute;
    box-shadow: 0 0 4px var(--ripple),
                inset 0 0 4px var(--ripple);
    animation: ripple 3s linear infinite;
    animation-delay: 5s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.nuestros .pato2 {
    position: absolute;
    box-shadow: 0 0 4px var(--ripple),
                inset 0 0 4px var(--ripple);
    animation: ripple 2.5s linear infinite;
    animation-delay: 5s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.nuestros .pato3 {
    position: absolute;
    box-shadow: 0 0 4px var(--ripple),
                inset 0 0 4px var(--ripple);
    animation: ripple 2s linear infinite;
    animation-delay: 5s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
    }
    90%{
        width: 350px;
        height: 350px;
    }
    100% {
        opacity: 0;
    }
}
